[DEFAULT]

## Use case is reflected in the naming of few places. (See later parts
## of this config.)
##
## If you are CERT-EE and running your default abuse handling process, 
## you could name the use case simply as 'cert-ee' 
##
## Another example would be: if you are doing new configuration for 
## conficker investigation, name the usecase accordingly to 
## 'confickerinvestigation'
##
## We recommend using only [a-z|-|0-9] characters.

usecase = cert-xx

## Uncomment the following line, and instead of printing to the
## console the bots will log to files. The magic %(__name__)s variable
## gets converted to the current section name, so bot launched by the
## section [example.bot.section] will use the file
## example.bot.section.log for logging.
#log_file = %(__name__)s.log

## Bots that provide services gather in lobby.
## This room is used for communicating configuration to different bots.
## No need to change this.

service_room = %(usecase)s

## These are the default credentials which bots use for loging 
## in to the XMPP service.
## You can register new bots for example with ejabberdctl:
##
## ejabberdctl register abusebots ah.cert.ee yourpassword 
##
xmpp_jid = abusebots@ah.example.com
xmpp_password = yourpassword

[abusehelper.core.dshield]
## Right now, DShield bot will deliver results to separate dshield room
dshield_room = dshield

[abusehelper.core.mailer]
## Mailer will use this server for sending mails.
smtp_host = smtp.example.com 

## You can use e.g. the traditional 25 or the submission port 587.
smtp_port = 25

## From whom it looks like the mail reports came from.
mail_sender = abusereports@example.com

## If you use authenticated submission port, put here your username 
## (without the domain) 
#submission_username = username

## Uncomment to define the password in config. Otherwise mailer will ask 
## for it.
# submission_password = password

[abusehelper.core.config]
customer_file = /etc/abusehelper/%(usecase)s-customer.cfg

## A room will be created for each handled ASN. Each room's name will
## be prefixed with asn_room_prefix, followed by the ASN number.
asn_room_prefix = "asn"

## Uncomment to overwrite the default mailing interval (in seconds).
#mail_interval = 3600

# This is just for starting also the roomgraph. No extra startup options needed.
[abusehelper.core.roomgraph]

#[gwiki]
## GraphingWiki configuration (optional, testing)
# wiki_username = wikiuser
# wiki_password = wikipassword
# wiki_url = http://localhost/wiki/
# wiki_category = CategoryAbuseContact
