Source: abusehelper
XS-Python-Version: >= 2.5
Section: net
Priority: extra
Maintainer: Lari Huttunen <debian@huttu.net>
Build-Depends: debhelper (>= 5), python-central, dh-make, dpkg-dev, debconf, perl, subversion
Standards-Version: 3.7.2

Package: abusehelper
XB-Python-Version: >= 2.5
Architecture: all
Depends: python (>=2.5), adduser
Recommends: mail-transport-agent
Description: Distributed, asynchronous XMPP framework for abuse handling
 AbuseHelper community develops a framework and a socio-economical plan 
 around it to bring the community tighter together. AbuseHelper is a 
 modular and (hopefully) scalable and robust framework to help you in 
 your abuse handling. Initial boostrap was collaboration between 
 CERT-EE and Clarified Networks, with the help of CERT-FI. 
 Starting from the beginning of 2010 - after the boostrap phase - 
 we will be welcoming other contributors and users. 

