#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.

PYVERS=$(shell pyversions -vr)

configure: configure-stamp

configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	pod2man --section=1 debian/roomreader.pod roomreader.1
	pod2man --section=8 debian/abusehelperctl.pod abusehelperctl.8
	-$(MAKE) configure
	touch configure-stamp

build: configure $(PYVERS:%=build-python%) 
	touch $@-stamp

build-python%:
	python$* setup.py build
	touch $@-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-arch-stamp build-indep-stamp build-stamp build-python* #CONFIGURE-STAMP#
	rm -rf build/
	rm -f *.1 *.8

	# Add here commands to clean up after the build process.
	-$(MAKE) clean

	dh_clean 

install: $(PYVERS:%=install-python%) 
	$(MAKE) DESTDIR=$(CURDIR)/debian/abusehelper install

install-python%:
	python$* setup.py install --root $(CURDIR)/debian/abusehelper

# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_installdirs
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples --exclude=.svn example/*
	dh_pycentral
	dh_installinit
	dh_installman
	dh_install
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
	dh_makeshlibs
	dh_installdebconf
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build install binary-common
	#$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

binary: binary-indep
.PHONY: build clean binary-indep binary install install-python configure
